// ---- HOME PAGE ---- //
.form-image{
    width: 100%;
    height: 800px;
}
.form-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
// control of the svg size : 
.icon{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon svg{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

// ---- MENU PAGE ---- //
.form-video{
    width: 100%;
    height: 800px;
}
.form-video video{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.menu-image{
    width: 400px;
    height: 250px;
}

.menu-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Images section "The essence of Italy in every bite" are resized as  w:2070px h:1380px */

// ---- ABOUT PAGE ---- //

.form-main-photo{
    width: 1000px;
    height: 650px;
}

.form-main-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.history-name{
    font-weight: bold;
    color: $light-bordeau;
}