@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

h1, h2, h3, h4, header{
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}